.card {
    text-align: center;
    width: 300px;
    height: 400px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    img {
        width: 280px;
        height: 180px;
        border-radius: 10px;
    }


}

.instruction {
    margin: auto;
    width: 280px;
    white-space : normal;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}